<!--标签云-->
<div class="widget d_tag">
    <div class="title"><h2>标签云</h2></div>
    <div class="d_tags">
        {% get_tag_list as tags %}
        {% for tag in tags %}
            <!--tag.total_num直接获得标签次标签下的文章数-->
            <a title="{{ tag.total_num }}个话题" href="{% url 'blog:tag' tag.name %}">{{ tag.name }} ({{ tag.total_num }})</a>
        {% endfor %}
    </div>
</div>
<!--标签云结束-->

<!--友情链接-->
<div class="widget widget_links">
    <div class="title"><h2>友情链接</h2></div>
        {% get_friends as friends %}
        <ul class='xoxo blogroll'>
            {% if friends %}
                {% for friend in friends %}
                    <li><a href="{{ friend.link }}" target="_blank">{{ friend.name }}</a></li>
                {% endfor %}
            {% else %}
                <div>&nbsp;&nbsp;暂无友链，欢迎来战</div>
            {% endif %}
        </ul>
</div>
<!--友情链接结束-->